name: Test

on: [push, pull_request]

jobs:
  JavaBuild:
    name: Test regxmllibJ
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [11, 17, 21]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Set up a JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'corretto'
        cache: maven
    - name: Test Java
      run: mvn test

  cpp_build:
    name: Test regxmllibC
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
    - name: install dependencies
      run: sudo apt install libxerces-c-dev
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Test C++
      run: |
        cmake -B build
        cd build
        make
        ctest

  cpp98_build:
    name: Test regxmllibC on c++98
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
    - name: install dependencies
      run: sudo apt install libxerces-c-dev
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Test C++
      run: |
        cmake -B build -DCMAKE_CXX_STANDARD=98 -DCMAKE_CXX_STANDARD_REQUIRED=ON -DCMAKE_CXX_EXTENSIONS=OFF
        cd build
        make
        ctest
