name: Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'pull_request'

    steps:
    - name: install dependencies
      run: sudo apt install libxerces-c-dev
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'corretto'
        cache: maven
    - name: Test Java
      run: mvn test
    - name: Configure CMake
      run: cmake -DCI=1 -B ${{github.workspace}}/build
    - name: Test regxmllibc
      run: ctest
